.mail-config
{
    padding: 20px;
}

mat-form-field.mat-form-field 
{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-full-width
{
    width: 100%;
}

mat-slide-toggle
{
    padding-top: 10px;
    padding-bottom: 10px;
}

span.mat-slide-toggle-content
{
    font-size: 20px;
}

span.mat-toolbar-text
{
    padding-left: 10px;
}

.proxy-color-oke
{
    color: green;
}

.proxy-color-failed
{
    color: red;
}

.proxy-color-unknown
{
    color: yellow;
}

.input-50-width
{
    width: 48.5%; 
}

.shift-50
{
    padding-left: 2%;
}

.input-25-width
{
    width: 23%; 
}

.shift-25
{
    padding-left: 2.5%;
}

.protocol-select
{
    width: 18%;
    padding-right: 2%;
}

.storage-location
{
    width: 80%;
}