input 
{
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: left;
}

span 
{
    opacity: 0;
    transition: opacity 200ms;
}

:host.floating span 
{
    opacity: 1;
}

.password-form-input
{
    width: 48%;
    padding-right: 2%;
}