<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-stroked-button color="warn" routerLink="">Home</button>
        <button mat-stroked-button color="warn" routerLink="example-table">Table</button>

        <button mat-stroked-button color="warn" routerLink="/mail-config">Mail Config</button>

        <button mat-stroked-button color="warn" routerLink="/mail-monitor">Mail Monitor</button>
        <button mat-stroked-button color="warn" routerLink="/login">Login</button>
    </mat-toolbar-row>        
</mat-toolbar>
<router-outlet></router-outlet>