<div *ngIf="pager?.pages && pager.pages.length" class="pagination">
        <button mat-raised-button color="primary" 
                class="pager_button"
                (click)="onFirstPage()"
                [disabled]="pager.currentPage == 1">First</button>
        <button mat-raised-button color="primary"
                class="pager_button" 
                (click)="onPrev()"
                [disabled]="pager.currentPage == 1">Previous</button>
        <button mat-raised-button
                *ngFor="let page of pager.pages"
                (click)="onPage( page )"
                class="page-button"
                [class.page-button-active]="pager.currentPage == page">{{ page }}</button>
        <button (click)="onNext()"
                class="pager_button"
                mat-raised-button color="primary"
                [disabled]="pager.currentPage == pager.totalPages">Next</button>
        <button (click)="onLastPage()"
                class="pager_button"
                [disabled]="pager.currentPage == pager.totalPages"
                mat-raised-button color="primary">Last</button>
</div>