<p>
  login works!
</p>
<form [formGroup]="data" >
  <mat-form-field>
    <input matInput 
           placeholder="Username" 
           formControlName="username">
  </mat-form-field>
  <mat-form-field-ex-password placeholder="Password" 
                              formControlName="password">

  </mat-form-field-ex-password>
  <button mat-raised-button type="submit" color="primary" (click)="login( $event )">
      <mat-icon>save</mat-icon>
  </button>
  <button mat-raised-button type="submit" color="primary" (click)="test( $event )">
      <mat-icon>save</mat-icon>
  </button>
</form>