<div class="monitor-view">
  <p>mail-monitor works!</p>

  <mat-card class="mail-card" *ngFor="let msg of messages">
      <mat-card-header>
        <div mat-card-avatar [ngClass]="msg.logo"></div>
        <div>
          <mat-card-title>{{ msg.sender }}</mat-card-title>
          <mat-card-subtitle>{{ msg.subject }}</mat-card-subtitle>
        </div>
        <span class="filler"></span>
        <div>
          {{ msg.status }}
          <br/>
          Number of tests: {{ msg.numberOfTests }}
        </div>
        <div>
          <button mat-button>Send</button>
        </div>
      </mat-card-header>
      <mat-card-content>
          {{ msg.message }}
      </mat-card-content>
    </mat-card>
</div>